<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="unit_three_module6" frontName="u3m6">
            <module name="UnitThree_Module6"/>
        </route>
    </router>
</config>
