<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Module/etc/module.xsd">
    <module name="UnitOne_Module6One" setup_version="2.0.0">
       <sequence>
            <module name="UnitOne_Module6Two"/>
        </sequence>
    </module>
</config>
